<div style="width: 50%; margin: auto; padding-bottom: 20px" align="center">
  <h1 class="title" style="padding-top: 40px">
    Login
  </h1>
  <div class="box has-text-centered">
      <button class="button" style="background-color: rgb(59, 89, 152); color: white;" (click)="loginFacebook()">
        <span class="icon">
          <i class="fa fa-facebook"></i>
        </span>
        <span>Facebook</span>
      </button>
      <button class="button" style="background-color:rgb(29, 161, 242); color: white;" (click)="loginTwitter()">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Twitter</span>
      </button>
      <button class="button" style="background-color: rgb(219, 68, 55); color: white;" (click)="loginGoogle()">
        <span class="icon">
          <i class="fa fa-google-plus"></i>
        </span>
        <span>Google</span>
      </button>
      <button class="button" (click)="loginGithub()">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>Github</span>
      </button>
  </div>
</div>
