<div style="width: 50%; margin: auto; padding-bottom: 20px" align="center">
  <h1 class="title" style="padding-top: 40px">
    Login
  </h1>
  <div class="box has-text-centered">
      <button class="button" style="background-color: rgb(59, 89, 152); color: white;" (click)="loginFacebook()">
        Facebook
      </button>
      <button class="button" style="background-color:rgb(29, 161, 242); color: white;" (click)="loginTwitter()">
        Twitter
      </button>
      <button class="button" style="background-color: rgb(219, 68, 55); color: white;" (click)="loginGoogle()">
        Google
      </button>
      <button class="button" (click)="loginGithub()">
        Github
      </button>
  </div>
</div>
