.facebook {
  background-color: rgb(59, 89, 152);
  color: white;
}

.twitter {
  background-color: rgb(29, 161, 242);
  color: white;
}

.google {
  background-color: rgb(219, 68, 55);
  color: white;
}
