/*Form Example*/

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form>* {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

/*Slider Example*/

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

/*List Example*/

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.example-h2 {
  margin: 10px;
}

/*Spinner Example*/

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

/*SliderToggle Example*/

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}
