<h4 class="mat-subheading-1">Section available at client/app/pages/home.component.html</h4>
<h2 class="example-h2">Grid example</h2>
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile rowspan="1" colspan="2" style="background-color: lightgreen">
    <div>
      <h2 class="example-h2">Spinner example</h2>
      <section class="example-section">
        <label class="example-margin">Color:</label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="primary">
            Primary
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            Accent
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <section class="example-section">
        <label class="example-margin">Mode:</label>
        <mat-radio-group [(ngModel)]="mode">
          <mat-radio-button class="example-margin" value="determinate">
            Determinate
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="indeterminate">
            Indeterminate
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <section class="example-section" *ngIf="mode == 'determinate'">
        <label class="example-margin">Progress:</label>
        <mat-slider class="example-margin" [(ngModel)]="valueSpinner"></mat-slider>
      </section>
    </div>
    <div>
      <h2 class="example-h2">Result</h2>

      <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="valueSpinner">
      </mat-progress-spinner>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="2" style="background-color: lightblue">
    <div class="example-container">
      <h2 class="example-h2">Form example</h2>
      <form class="example-container" [formGroup]="options">
        <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
        <div>
          <label>Float label: </label>
          <mat-radio-group formControlName="floatLabel">
            <mat-radio-button value="auto">Auto</mat-radio-button>
            <mat-radio-button value="always">Always</mat-radio-button>
            <mat-radio-button value="never">Never</mat-radio-button>
          </mat-radio-group>
        </div>
      </form>
      <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
        <input matInput placeholder="Simple placeholder" required>
      </mat-form-field>
      <mat-form-field [floatLabel]="options.value.floatLabel">
        <mat-label>Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-placeholder>
          <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> placeholder</i></mat-placeholder>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="2" style="background-color: lightpink">
    <div>
      <h2 class="example-h2">Select example</h2>
      <mat-form-field>
        <mat-select placeholder="Favorite food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="2" style="background-color: #DDBDF1">
    <div>
      <h2 class="example-h2">SliderToggle configuration</h2>
      <section class="example-section">
        <label class="example-margin">Color:</label>
        <mat-radio-group [(ngModel)]="colorST">
          <mat-radio-button class="example-margin" value="primary">
            Primary
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            Accent
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checkedST">Checked</mat-checkbox>
      </section>
      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="disabledST">Disabled</mat-checkbox>
      </section>
      <h2 class="example-h2">Result</h2>
      <section class="example-section">
        <mat-slide-toggle class="example-margin" [color]="colorST" [checked]="checkedST" [disabled]="disabledST">
          Slide me!
        </mat-slide-toggle>
      </section>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

<mat-card>
  <h2 class="example-h2">Slider example</h2>
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="value">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
        Auto ticks
      </mat-checkbox>
      <mat-form-field class="example-margin" *ngIf="showTicks && !autoTicks">
        <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="invert">Inverted</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>
<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [(ngModel)]="value" [vertical]="vertical">
    </mat-slider>
  </mat-card-content>
</mat-card>

<mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

<mat-card>
  <h2 class="example-h2">List example</h2>
  <mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{folder.name}}</h4>
      <p mat-line> {{folder.updated | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{note.name}}</h4>
      <p mat-line> {{note.updated | date}} </p>
    </mat-list-item>
  </mat-list>
</mat-card>
