<h2><%= name %></h2>

<div>
  <button type="button" [routerLink]="['/']">Home</button>
  <button type="button" [routerLink]="['/profile']" *ngIf="appService.isLoggedIn">Profile</button>
  <button type="button" [routerLink]="['/login']" *ngIf="!appService.isLoggedIn">Login</button>
  <button type="button" (click)="appService.logout()" *ngIf="appService.isLoggedIn">Logout</button>
</div>

<h3>
  Source available at client/app/app.component.html to get started
</h3>

<hr>

<router-outlet></router-outlet>
